# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
Debug/
Release/
x64/
x86/

# Compiled files
*.exe
*.dll
*.pdb
*.cache

# .NET
*.nupkg
packages/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Publish output
publish/
*.zip